<mat-toolbar color="primary">
    <span><a mat-button routerLink="/">View Complaints</a></span>
    <span>      &nbsp;&nbsp;&nbsp;</span>
    <span><a mat-button routerLink="/create" routerLinkActive="mat-danger"  >Lodge a Complaint</a></span>
    <a  class="a1" mat-button routerLink="/sign-in" routerLinkActive="mat-danger" *ngIf="!isUserAutenticated" >Sign In</a>
    <a class="a2" mat-button routerLink="/sign-up" routerLinkActive="mat-danger" *ngIf="!isUserAutenticated" >Sign Up</a>
    <span><button  mat-button (click)="signOut()" *ngIf="isUserAutenticated"  >Log Out</button></span>
</mat-toolbar>

