/* mat-card{
    width:80%;
    margin:auto
} */
mat-form-field,textarea{
    width: 100%;
}
mat-spinner{
    margin: auto;
}
#imageUpload{
    visibility: hidden;
}
.image-preview{
    border: 1px solid blue;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
    
}