
<form [formGroup]="form" (submit)="onSavePosts()" >
        <mat-card class="scroll">
                <mat-form-field>
                    <input matInput
                     name="title" 
                     formControlName="title"
                     placeholder="Enter Title of Complaint"/>
                    <mat-error  >Complaint Title is Mandatory</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <textarea 
                     name="content" 
                     formControlName="content"
                      matInput rows="6"  
                      placeholder="Describe Brifely about Complaint"></textarea>
                    <mat-error >Complaint Description is Mandatory</mat-error>
                </mat-form-field>
                <div>
                    <button type="button" mat-stroked-button (click)=fileReference.click()>Pick Image</button>
                    <input type="file" 
                    name="imageUpload"
                    (change)="saveImage($event)"
                     id="imageUpload" #fileReference/>
                     <mat-error *ngIf="fileReference.invalid">Image upload is required</mat-error>
                </div>
                <div style="text-align: center" *ngIf="imagePreview">
                        <hr>
                    <img class="image-preview" [src]="imagePreview"/>
                </div>

                <div>
                    <hr>
                    <button type="submit"  mat-raised-button color="accent" >Register Complaint</button>
                </div>
                
            </mat-card>
 </form>   
