
<form [formGroup]="form" (submit)="onSavePosts()" >
        <mat-card>
                <mat-form-field>
                    <input matInput
                     name="title" 
                     formControlName="title"
                     placeholder="Enter Title of Post"/>
                    <mat-error  >Please Enter Title of Post</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <textarea 
                     name="content" 
                     formControlName="content"
                      matInput rows="6"  
                      placeholder="Enter Content of Post"></textarea>
                    <!-- <mat-error >Please Enter Content of Post</mat-error> -->
                </mat-form-field>
                <div>
                    <button type="button" mat-stroked-button (click)=fileReference.click()>Pick Image</button>
                    <input type="file" 
                    name="imageUpload"
                    (change)="saveImage($event)"
                     id="imageUpload" #fileReference/>
                </div>
                <div style="text-align: center" *ngIf="imagePreview">
                        <hr>
                    <img class="image-preview" [src]="imagePreview" [alt]="form.value.image.name"/>
                </div>

                <div>
                    <hr>
                    <button type="submit"  mat-raised-button color="accent" >Save Post</button>
                </div>
                
            </mat-card>
 </form>   
