
<mat-accordion multi=true *ngIf="postsReceived.length!=0">
    <mat-expansion-panel *ngFor="let post of postsReceived">
        <mat-expansion-panel-header>
            {{post.title}}
        </mat-expansion-panel-header>
            {{post.content}}
            <div style="text-align: center">
                <hr>
                <img class="image-preview" [src]="post.image" [alt]="post.title"/>
                <hr>
            </div>
            <mat-action-row *ngIf="userAuth && post.creator==authorisedUser">
                <a mat-button color="primary"  [routerLink]="['/edit',post.id]" >EDIT</a>
                <button mat-button color="warn" (click)="onDelete(post.id)" >DELETE</button>
            </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="noOfPages" 
               [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" 
                (page)="pageChangeHandler($event)"
                *ngIf="postsReceived.length!=0">
</mat-paginator>

<div *ngIf="spinner" class="mat-spinner"><mat-spinner  [color]="'warn'"></mat-spinner> </div> 

<p *ngIf="postsReceived.length==0 && !spinner"  class="mat-display-1 elseBock">!!!  No Complaints  !!! </p>
