mat-accordion{
    display: block;
    margin-top: 2rem;
}
.elseBock{
   text-align: center;
   font-style: italic;
   color:blue;
   padding-top: 20%;

}
.mat-spinner{
    margin: auto;
    padding-top: 10rem;
    text-align: center;
}

.image-preview{
    border: 1px solid blue;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
    
}
mat-paginator{
    margin-top: 1rem;
}